.thumbnail{
    width: 100%;
}

.image{
    width: 100%;
    height: 280pm;
    object-fit: cover;
    display: block;
}

.title{
    font-family: var(--font-body);
    font-size: .85rem;
    margin-top: .5rem;
    text-transform: uppercase;
    letter-spacing: .03em;
}
